.rich_text_para_quote {
  h3 {
    color: #6b7280 !important;
    text-align: center !important;
    font-size: 34px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 44px !important;
  }
}
@media (max-width: 1024px) {
  .rich_text_para_quote {
    h3 {
      font-size: 26px !important;
      line-height: 36px !important;
    }
  }
}
